*{
    margin: 0;
    padding: 0;
}
#navbar{
    padding: 3.5vh;
    background-color: rgb(241, 241, 241);
    /* Legger til skygge under navbaren */
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}
#navbar .links{
    font-size: 1.5vmax;
    text-align: center;
    margin-bottom: 2vh;
}
#navbar .links a{
    margin: 5vw;

    text-decoration: none;
    /* Font */
    font-family: "area-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}
#navbar .links a:hover{
    color: white;
}
#om img{
    width: 100vh;
    position: absolute;
    bottom: 0;
    left: 5vw;
    margin-right: 6vw;
    display: inline-flex;
    z-index: 50;
}
#main{
    position: absolute;
    top: 25vh;
    left: 60vw;
}
#main p{
    inline-size: 35vw;
    overflow-wrap: break-word;
    background-color: white;
    /* Font */
    font-size: 1.5vw;
    font-family: "area-extended", sans-serif;
    font-weight: 400;
    font-style: normal;
}