*{
    margin: 0;
    padding: 0;
}

/* Navbar */
#navbar{
    padding: 3.5vh;
    background-color: rgb(241, 241, 241);
    /* Legger til skygge under navbaren */
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}
#navbar .links{
    /* Font */
    font-size: 1.5vmax;
    text-align: center;
    margin-bottom: 2vh;
}
#navbar .links a{
    margin: 5vw;
    /* Fjerner linjen under linker */
    text-decoration: none;
    /* Font */
    font-family: "area-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}
#navbar .links a:hover{
    color: white;
}


/* Bildene blir laget om til sirkler */
#prosjekter img{
    object-fit: cover;
    width: 15vw;
    height: 15vw;
    clip-path: circle(50%);
    margin: 8.8vw;
    margin-top: 8vh;
    margin-bottom: 2vh;
}

/* Starter animasjonen når musa er over */
#prosjekter img:hover{
    animation: size 0.5s ease-out 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

#prosjekter .text h1{
    display: inline-block;
    width: 15vw;
    margin-left: 8.8vw;
    margin-right: 8.8vw;
    text-align: center;
    /* Font */
    font-family: "area-extended", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#prosjekter .description p{
    display: inline-block;
    width: 19vw;
    margin-left: 6.8vw;
    margin-right: 6.8vw;
    /* Font */
    font-family: "area-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Animasjon som roterer og gjør sirkelen om til en firkant */
@keyframes size {
    from {
        clip-path: circle(50%);
        transform:rotate(0deg);
    }
    to {
        clip-path: circle(100%);
        transform:rotate(360deg);
    }           
}